################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeepFryBot/.vs/DeepFryBot/v16
